@import 'mixins&variables-graphic';

@media (min-width: 1025px) {
    
    body{
        @include bgPropeties;
        background-image: url(/assets/shared/desktop/bg-pattern-leaf.svg);
        background-size: 63vw;
        background-position: 0 14%;
    }

    header{
        height: 25vh;
        .container{
            padding: 0 10.5em;
            nav{
                position: initial;
                width: initial;
                left: initial;
                top: initial;
                height: initial;
                overflow: initial;
                .container{
                    padding: 0;
                    text-align: initial;
                    flex-direction: initial;
                    background-color: transparent;
                    a{
                        color: $secondaryBlack;
                        font-size: .9rem;
                        pointer-events: initial;
                        opacity: 1;
                        &:hover{
                            border-bottom: 1px solid hsla(0, 0%, 0%, .3);
                            transition: none;
                        }
                    }
                }
            }
            .menu{
                display: none;
            }
        }
    }

   #hero{
       background-image: url(/assets/app-design/desktop/bg-pattern-intro-app.svg);
       background-position: -3em;
       background-size: 54em;
       margin-left: 10.5em;
       margin-right: 10.5em;
       border-radius: 20px;
       .container{
           h1{
            font-size: 3rem;
           }
           p{
               margin-left: auto;
               margin-right: auto;
               width: 70%;
           }
       }
   }

   #graphic-projects{
    .container{
        padding: 0 10.5em;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

    #portfolio{
        .container{
            padding-left: 10.5em;
            padding-right: 10.5em;
            display: grid;
            grid-template-columns: 1fr 1fr;
            .web{
                background-image: url(/assets/home/desktop/image-web-design-small.jpg);
                height: 308px;
                &:hover{
                    background: linear-gradient($primaryPeachHover),url(/assets/home/desktop/image-web-design-small.jpg);
                    @include bgPropeties;
                }
            }
            .app{
                background-image: url(/assets/home/desktop/image-app-design.jpg);
                height: 308px;
                &:hover{
                    background: linear-gradient($primaryPeachHover),url(/assets/home/desktop/image-app-design.jpg);
                    @include bgPropeties;
                }
            }
        }
    }

   
    #get-in-touch{
        .container{
            padding: 0 10.5em;
            .wrapper{
                text-align: initial;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-left: 4.5em;
                padding-right: 4.5em;
                background-position: 22em -6em;
                background-size: 47em;
                .text{
                    margin: 0;
                    width: 50%;
                }
                a{
                    &:hover{
                        color: white;
                        background-color: $lightPeach;
                    }
                }
            }
        }
    }

    footer{
        .container{
            padding-left: 10.5em;
            padding-right: 10.5em;
            text-align: initial;
            .logo-and-links{
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid hsla(0, 0%, 100%, .1);
                padding-bottom: 2em;
                .footer-logo{
                    padding: 0;
                    border-bottom: initial;
                }
                .nav-links{
                    margin: 0;
                    flex-direction: initial;
                    a{
                        &:hover{
                            border-bottom: 1px solid hsla(0, 0%, 100%, .3);    
                        }    
                    }
                }
            }
            .info{
                flex-direction: initial;
                gap: 6em;
                .socials{
                    margin-left: auto;
                    align-items: flex-end;
                    a{
                        svg{
                            &:hover{
                                path{
                                    fill: $lightPeach;
                                }
                            }
                        }
                    }
                }
            }
        }
    }


}

@media (min-width: 768px) and (max-width: 1024px){

    header{
        height: 15vh;
        .container{
            nav{
                position: initial;
                width: initial;
                left: initial;
                top: initial;
                height: initial;
                overflow: initial;
                .container{
                    padding: 0;
                    text-align: initial;
                    flex-direction: initial;
                    background-color: transparent;
                    a{
                        color: $secondaryBlack;
                        font-size: .9rem;
                        pointer-events: initial;
                        opacity: 1;
                    }
                }
            }
            .menu{
                display: none;
            }
        }
    }   

    #hero{
        margin: 0 1.5em;
        border-radius: 20px;
        .container{
            padding: 0 6em;
        }
    }

    #graphic-projects{
        .container{
            .card{
                display: flex;
                .img{
                    img{
                        width: 339px;
                        border-radius: 20px 0 0 20px;
                    }
                }
                .text{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 0;
                    border-radius: 0 20px 20px 0;
                    width: 100%;
                    p{
                        max-width: 90%;
                    }
                }
            }
        }
    }

    #portfolio{
        .container{
            .web{
                background-image: url(/assets/home/tablet/image-web-design.jpg);
            }
            .app{
                background-image: url(/assets/home/tablet/image-app-design.jpg);
            }
        }
    }

    #get-in-touch{
        .container{
            .wrapper{
                padding: 3em 6em 4em;
            }
        }
    }

    
    footer{
        .container{
            text-align: initial;
            .logo-and-links{
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid hsla(0, 0%, 100%, .1);
                padding-bottom: 2em;
                .footer-logo{
                    padding: 0;
                    border-bottom: initial;
                }
                .nav-links{
                    margin: 0;
                    flex-direction: initial;
                }
            }
            .info{
                flex-direction: initial;
                gap: 6em;
                .socials{
                    margin-left: auto;
                    align-items: flex-end;
                }
            }
        }
    }

}

//Galaxy Fold
@media (min-width: 280px) and (max-width: 280px) {
    header{
        .container{
            .logo{
                a{
                    img{
                        width: 142px;
                    }
                }
            }
            .menu{
                img{
                    width: 75%;
                }
            }
        }
    }


    #portfolio{
        .container{
            .project{
                h1{
                    font-size: 1.4rem;
                }
                h3{
                    font-size: .7rem;
                }
            }
        }
    }


    #get-in-touch{
        .container{
            .wrapper{
                .text{
                    h1{
                        font-size: 1.7rem;
                    }
                }
            }
        }
    }
}