@import 'mixins&variables-about';

@media (min-width: 1025px) {
    
    .img{
        width: 100%;
    }

    body{
        @include bgPropeties;
        background-image: url(/assets/shared/desktop/bg-pattern-leaf.svg), url(/assets/shared/desktop/bg-pattern-leaf.svg);
        background-size: 63vw;
        background-position: 0 14%, 160% 60%;
    }

    header{
        height: 25vh;
        .container{
            padding: 0 10.5em;
            nav{
                position: initial;
                width: initial;
                left: initial;
                top: initial;
                height: initial;
                overflow: initial;
                .container{
                    padding: 0;
                    text-align: initial;
                    flex-direction: initial;
                    background-color: transparent;
                    a{
                        color: $secondaryBlack;
                        font-size: .9rem;
                        pointer-events: initial;
                        opacity: 1;
                        &:hover{
                            border-bottom: 1px solid hsla(0, 0%, 0%, .3);
                            transition: none;
                        }
                    }
                }
            }
            .menu{
                display: none;
            }
        }
    }

  #hero{
      margin: 0 10.5em 8em;
      display: flex;
      flex-direction: row-reverse;
      .img{
          height: 480px;
          background-image: url(/assets/about/desktop/image-about-hero.jpg);
          border-radius: 0 20px 20px 0;
          width: 476px;
      }
      #about{
          padding: 0;
          border-radius: 20px 0 0 20px;
          width: 635px;
          background-position: 0;
          background-size: 40em;
          .container{
              text-align: left;
              padding: 0;
              display: flex;
              flex-direction: column;
              justify-content: center;
              margin: 0 auto;
              width: 70%;
              height: 100%;
          }
      }
  }

  #talent{
      display: flex;
      margin: 0 10.5em;
      .img{
          height: 640px;
          background-image: url(/assets/about/desktop/image-world-class-talent.jpg);
          border-radius: 20px 0 0 20px;
          width: 476px;
      }
      .talent{
          border-radius: 0 20px 20px 0;
          width: 635px;
          background-size: 35em;
          background-position: -5em 5em;
          .container{
              text-align: left;
              padding: 0;
              display: flex;
              flex-direction: column;
              width: 70%;
              margin: 0 auto;
              justify-content: center;
              height: 100%;
          }
      }
  }
  
  #locations{
      .container{
          padding: 0 10.5em;
          flex-direction: row;
          align-items: center;
          .country{
              width: 100%;
              background-size: 16.6vw;
              img{
                  width: 80%;
                }
                a{
                    &:hover{
                        background-color: $lightPeach;
                    }
                }
            }
        }
   }
    
  #real-deal{
      margin: 0 10.5em;
      display: flex;
      flex-direction: row-reverse;
      .img{
          height: 640px;
          width: 476px;
          border-radius: 0 20px 20px 0;
          background-image: url(/assets/about/desktop/image-real-deal.jpg);
      }
      .text{
        background-image: url(/assets/shared/desktop/bg-pattern-two-circles.svg);
        background-position: 0 22em;
        background-size: 36em;
        padding: 0;
        width: 635px;
        border-radius: 20px 0 0 20px;
        .container{
            text-align: left;
            padding: 0;
            display: flex;
            flex-direction: column;
            width: 70%;
            margin: 0 auto;
            justify-content: center;
            height: 100%;
        }
      }
  }
   
    #get-in-touch{
        .container{
            padding: 0 10.5em;
            .wrapper{
                text-align: initial;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-left: 4.5em;
                padding-right: 4.5em;
                background-position: 22em -6em;
                background-size: 47em;
                .text{
                    margin: 0;
                    width: 50%;
                }
                a{
                    &:hover{
                        color: white;
                        background-color: $lightPeach;
                    }
                }
            }
        }
    }

    footer{
        .container{
            padding-left: 10.5em;
            padding-right: 10.5em;
            text-align: initial;
            .logo-and-links{
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid hsla(0, 0%, 100%, .1);
                padding-bottom: 2em;
                .footer-logo{
                    padding: 0;
                    border-bottom: initial;
                }
                .nav-links{
                    margin: 0;
                    flex-direction: initial;
                    a{
                        &:hover{
                            border-bottom: 1px solid hsla(0, 0%, 100%, .3);    
                        }    
                    }
                }
            }
            .info{
                flex-direction: initial;
                gap: 6em;
                .socials{
                    margin-left: auto;
                    align-items: flex-end;
                    a{
                        svg{
                            &:hover{
                                path{
                                    fill: $lightPeach;
                                }
                            }
                        }
                    }
                }
            }
        }
    }


}

@media (min-width: 768px) and (max-width: 1024px){

    header{
        height: 15vh;
        .container{
            nav{
                position: initial;
                width: initial;
                left: initial;
                top: initial;
                height: initial;
                overflow: initial;
                .container{
                    padding: 0;
                    text-align: initial;
                    flex-direction: initial;
                    background-color: transparent;
                    a{
                        color: $secondaryBlack;
                        font-size: .9rem;
                        pointer-events: initial;
                        opacity: 1;
                    }
                }
            }
            .menu{
                display: none;
            }
        }
    }   

    #hero{
        margin: 0 1.5em;
        .img{
            border-radius: 20px 20px 0 0;
            background-image: url(/assets/about/tablet/image-about-hero.jpg);
        }
        #about{
            border-radius: 0 0 20px 20px;
            .container{
                padding: 0 4em;
            }
        }
    }
 
    #talent{
        margin: 8em 1.5em 0;
        .img{
            border-radius: 20px 20px 0 0;
            background-image: url(/assets/about/tablet/image-world-class-talent.jpg);
        }
        .talent{
            border-radius: 0 0 20px 20px;
            .container{
                padding: 0 4em;
            }
        }
    }

    #locations{
        .container{
            .country{
                background-size: 17em;
                img{
                    width: 37%;
                }
            }
        }
    }

    #real-deal{
        margin: 0 1.5em;
        .img{
            border-radius: 20px 20px 0 0;
            background-image: url(/assets/about/tablet/image-real-deal.jpg);
        }
        .text{
            border-radius: 0 0 20px 20px;
            .container{
                padding: 0 4em;
            }
        }
    }

    #get-in-touch{
        .container{
            .wrapper{
                padding: 3em 6em 4em;
            }
        }
    }

    
    footer{
        .container{
            text-align: initial;
            .logo-and-links{
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid hsla(0, 0%, 100%, .1);
                padding-bottom: 2em;
                .footer-logo{
                    padding: 0;
                    border-bottom: initial;
                }
                .nav-links{
                    margin: 0;
                    flex-direction: initial;
                }
            }
            .info{
                flex-direction: initial;
                gap: 6em;
                .socials{
                    margin-left: auto;
                    align-items: flex-end;
                }
            }
        }
    }

}

//Galaxy Fold
@media (min-width: 280px) and (max-width: 280px) {
    header{
        .container{
            .logo{
                a{
                    img{
                        width: 142px;
                    }
                }
            }
            .menu{
                img{
                    width: 75%;
                }
            }
        }
    }

    #locations{
        .container{
            .country{
                background-size: 14em;
                img{
                    width: 100%;
                }
            }
        }
    }


    #get-in-touch{
        .container{
            .wrapper{
                .text{
                    h1{
                        font-size: 1.7rem;
                    }
                }
            }
        }
    }
}