@import 'mixins&variables-location';

*{
    font-family: 'Jost', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1, h2, h3{
    font-weight: 500;
}
p{
    font-weight: 400;
    line-height: 1.6em;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}
.container{
    padding: 0 1.5em;
    text-align: center;
}
.img{
    height: 320px;
}
h1{
    @include peachHeader;
}


//////


header{
    height: 14vh;
    .container{
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: space-between;
        max-height: 100vh;
        .logo{
            img{
                width: 202px;
                height: auto;
            }
        }
        nav{
            transition: all .5s ease-in-out;
            position: absolute;
            width: 100vw;
            left: 0;
            top: 14vh;
            height: 0;
            overflow: hidden;
            .container{
                text-align: left;
                display: flex;
                flex-direction: column;
                align-items: initial;
                background-color: $secondaryBlack;
                gap: 1.5em;
                padding-top: 2.5em;
                padding-bottom: 2.5em;
                a{
                    color: white;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-size: 1.5rem;
                    pointer-events: none;
                    opacity: 0;
                    transition: all .5s ease-in-out;
                } .dropdownLinksActive{
                    opacity: 1;
                    pointer-events: initial;
                }
            }
        } .navActive{
            height: 233px;
        }
    }
}

#location{
    display: flex;
    flex-direction: column;
    gap: 3em;
    .canada, .australia, .uk{
        .container{
            @include peachContainer;
            @include bgPropeties;
            .info{
                display: flex;
                flex-direction: column;
                gap: 2em;
            }
        }
    }
}

.canada .img{
    background-image: url(/assets/locations/desktop/image-map-canada.png);
    @include bgPropeties;
}

.australia .img{
    background-image: url(/assets/locations/desktop/image-map-australia.png);
    @include bgPropeties;
}

.uk .img{
    background-image: url(/assets/locations/desktop/image-map-united-kingdom.png);
    @include bgPropeties;
}

#get-in-touch{
    position: relative;
    top: 10em;
    .container{
        .wrapper{
            background-color: $primaryPeach;
            background-image: url(/assets/shared/desktop/bg-pattern-call-to-action.svg);
            @include bgPropeties;
            background-size: 72em;
            background-position-x: -20em;
            padding-top: 3em;
            padding-bottom: 4em;
            border-radius: 15px;
            h1, p{
                color: white
            }
            h1{
                font-size: 2rem;
                margin-bottom: .5em;
            }
            p{
                margin-bottom: 3em;
            }
            a{
                @include btn(black, white);
            }
        }
    }
}

footer{
    background-color: $black;
    .container{
        padding-top: 15em;
        padding-bottom: 4em;
        .logo-and-links{
            .footer-logo{
                padding-bottom: 1.5em;
                border-bottom: 1px solid hsla(0, 0%, 100%, 0.5);
                a{
                    img{
                        width: 202px;
                        height: auto;
                    }
                }
            }
            .nav-links{
                display: flex;
                flex-direction: column;
                gap: 1.5em;
                margin-top: 2em;
                a{
                    color: white;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-size: .87rem;
                }
            }
        }
        .info{
            display: flex;
            flex-direction: column;
            margin-top: 3em;
            gap: 2em;
            .address{
                color: hsla(0, 0%, 100%, .5);
            }
            .socials{
                display: flex;
                justify-content: center;
                gap: 1em;
                align-items: center;
            }
        }
    }
}