* {
  font-family: 'Jost', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-weight: 500;
}

p {
  font-weight: 400;
  line-height: 1.6em;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.container {
  padding: 0 1.5em;
  text-align: center;
}

.img {
  height: 320px;
}

h1 {
  font-size: 2rem;
  color: #E7816B;
  margin-bottom: 1em;
}

header {
  height: 14vh;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 100vh;
}

header .container .logo img {
  width: 202px;
  height: auto;
}

header .container nav {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  position: absolute;
  width: 100vw;
  left: 0;
  top: 14vh;
  height: 0;
  overflow: hidden;
}

header .container nav .container {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  background-color: #333136;
  gap: 1.5em;
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}

header .container nav .container a {
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

header .container nav .container .dropdownLinksActive {
  opacity: 1;
  pointer-events: initial;
}

header .container .navActive {
  height: 233px;
}

#location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3em;
}

#location .canada .container, #location .australia .container, #location .uk .container {
  background-color: #FDF3F0;
  padding-top: 4em;
  padding-bottom: 4em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#location .canada .container .info, #location .australia .container .info, #location .uk .container .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2em;
}

.canada .img {
  background-image: url(../../assets/locations/desktop/image-map-canada.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.australia .img {
  background-image: url(../../assets/locations/desktop/image-map-australia.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.uk .img {
  background-image: url(../../assets/locations/desktop/image-map-united-kingdom.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#get-in-touch {
  position: relative;
  top: 10em;
}

#get-in-touch .container .wrapper {
  background-color: #E7816B;
  background-image: url(../../assets/shared/desktop/bg-pattern-call-to-action.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-size: 72em;
  background-position-x: -20em;
  padding-top: 3em;
  padding-bottom: 4em;
  border-radius: 15px;
}

#get-in-touch .container .wrapper h1, #get-in-touch .container .wrapper p {
  color: white;
}

#get-in-touch .container .wrapper h1 {
  font-size: 2rem;
  margin-bottom: .5em;
}

#get-in-touch .container .wrapper p {
  margin-bottom: 3em;
}

#get-in-touch .container .wrapper a {
  border: none;
  outline: none;
  font-size: .9rem;
  text-transform: uppercase;
  padding: 1.2em 1em;
  letter-spacing: 1px;
  border-radius: 10px;
  color: black;
  background: white;
  cursor: pointer;
}

footer {
  background-color: #1D1C1E;
}

footer .container {
  padding-top: 15em;
  padding-bottom: 4em;
}

footer .container .logo-and-links .footer-logo {
  padding-bottom: 1.5em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

footer .container .logo-and-links .footer-logo a img {
  width: 202px;
  height: auto;
}

footer .container .logo-and-links .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5em;
  margin-top: 2em;
}

footer .container .logo-and-links .nav-links a {
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: .87rem;
}

footer .container .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 3em;
  gap: 2em;
}

footer .container .info .address {
  color: rgba(255, 255, 255, 0.5);
}

footer .container .info .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=location.css.map */