@media (min-width: 1025px) {
  body {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(/assets/shared/desktop/bg-pattern-leaf.svg);
    background-size: 63vw;
    background-position: 0 14%;
  }
  header {
    height: 25vh;
  }
  header .container {
    padding: 0 10.5em;
  }
  header .container nav {
    position: initial;
    width: initial;
    left: initial;
    top: initial;
    height: initial;
    overflow: initial;
  }
  header .container nav .container {
    padding: 0;
    text-align: initial;
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
    background-color: transparent;
  }
  header .container nav .container a {
    color: #333136;
    font-size: .9rem;
    pointer-events: initial;
    opacity: 1;
  }
  header .container nav .container a:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-transition: none;
    transition: none;
  }
  header .container .menu {
    display: none;
  }
  #hero {
    background-image: url(/assets/app-design/desktop/bg-pattern-intro-app.svg);
    background-position: -3em;
    background-size: 54em;
    margin-left: 10.5em;
    margin-right: 10.5em;
    border-radius: 20px;
  }
  #hero .container h1 {
    font-size: 3rem;
  }
  #hero .container p {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
  #app-projects .container {
    padding: 0 10.5em;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  #portfolio .container {
    padding-left: 10.5em;
    padding-right: 10.5em;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  #portfolio .container .web {
    background-image: url(/assets/home/desktop/image-web-design-small.jpg);
    height: 308px;
  }
  #portfolio .container .web:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(231, 129, 106, 0.6))), url(/assets/home/desktop/image-web-design-small.jpg);
    background: linear-gradient(rgba(231, 129, 106, 0.6)), url(/assets/home/desktop/image-web-design-small.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  #portfolio .container .graphic {
    background-image: url(/assets/home/desktop/image-graphic-design.jpg);
    height: 308px;
  }
  #portfolio .container .graphic:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(231, 129, 106, 0.6))), url(/assets/home/desktop/image-graphic-design.jpg);
    background: linear-gradient(rgba(231, 129, 106, 0.6)), url(/assets/home/desktop/image-graphic-design.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  #get-in-touch .container {
    padding: 0 10.5em;
  }
  #get-in-touch .container .wrapper {
    text-align: initial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 4.5em;
    padding-right: 4.5em;
    background-position: 22em -6em;
    background-size: 47em;
  }
  #get-in-touch .container .wrapper .text {
    margin: 0;
    width: 50%;
  }
  #get-in-touch .container .wrapper a:hover {
    color: white;
    background-color: #FFAD9B;
  }
  footer .container {
    padding-left: 10.5em;
    padding-right: 10.5em;
    text-align: initial;
  }
  footer .container .logo-and-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 2em;
  }
  footer .container .logo-and-links .footer-logo {
    padding: 0;
    border-bottom: initial;
  }
  footer .container .logo-and-links .nav-links {
    margin: 0;
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
  }
  footer .container .logo-and-links .nav-links a:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  footer .container .info {
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
    gap: 6em;
  }
  footer .container .info .socials {
    margin-left: auto;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  footer .container .info .socials a svg:hover path {
    fill: #FFAD9B;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  header {
    height: 15vh;
  }
  header .container nav {
    position: initial;
    width: initial;
    left: initial;
    top: initial;
    height: initial;
    overflow: initial;
  }
  header .container nav .container {
    padding: 0;
    text-align: initial;
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
    background-color: transparent;
  }
  header .container nav .container a {
    color: #333136;
    font-size: .9rem;
    pointer-events: initial;
    opacity: 1;
  }
  header .container .menu {
    display: none;
  }
  #hero {
    margin: 0 1.5em;
    border-radius: 20px;
  }
  #hero .container {
    padding: 0 6em;
  }
  #app-projects .container .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #app-projects .container .card .img img {
    width: 339px;
    border-radius: 20px 0 0 20px;
  }
  #app-projects .container .card .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    border-radius: 0 20px 20px 0;
    width: 100%;
  }
  #app-projects .container .card .text p {
    max-width: 90%;
  }
  #portfolio .container .web {
    background-image: url(/assets/home/tablet/image-web-design.jpg);
  }
  #portfolio .container .graphic {
    background-image: url(/assets/home/tablet/image-graphic-design.jpg);
  }
  #get-in-touch .container .wrapper {
    padding: 3em 6em 4em;
  }
  footer .container {
    text-align: initial;
  }
  footer .container .logo-and-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 2em;
  }
  footer .container .logo-and-links .footer-logo {
    padding: 0;
    border-bottom: initial;
  }
  footer .container .logo-and-links .nav-links {
    margin: 0;
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
  }
  footer .container .info {
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
    gap: 6em;
  }
  footer .container .info .socials {
    margin-left: auto;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media (min-width: 280px) and (max-width: 280px) {
  header .container .logo a img {
    width: 142px;
  }
  header .container .menu img {
    width: 75%;
  }
  #portfolio .container .project h1 {
    font-size: 1.4rem;
  }
  #portfolio .container .project h3 {
    font-size: .7rem;
  }
  #get-in-touch .container .wrapper .text h1 {
    font-size: 1.7rem;
  }
}
/*# sourceMappingURL=app-media.css.map */